extends layout
block content
	.login
		h1 Login
		form(method='post')
			input(type='text', name='username', placeholder='Username', required='requird')
			input(type='password', name='password', placeholder='Password', required='required')
			button.btn.btn-primary.btn-block.btn-small(type='submit') Log in