extends layout
block content
	.row(style="margin-bottom: 10rem;")
		.login
			h1 Login
			form.col-md-offset-4.col-md-4(method='post', action='/signup')
				if post
					if !success
						p Villa við að útbúa notanda
						if exists
							p Notandi þegar til.
					else
						p Notandi búinn til!
				input(type='text', name='displayname', placeholder='Dispay name', required='required')
				input(type='text', name='username', placeholder='Username', required='requird')
				input(type='password', name='password', placeholder='Password', required='required')
				input(type='email', name='email', placeholder='Email', required='required')
				button.btn.btn-primary.btn-block.btn-small(type='submit') Sign up!
