extends layout

block content
  .row
    .col-md-12
      h2 Skrifa frétt
      form(method="post")
        .form-group
          .row(style="margin-bottom: 2rem;")
            - for (var i=2; i<groups.length; i++)
                label.checkbox-inline
                  input(type="radio", name="article_group", id="article_group", value=groups[i].text)
                  = groups[i].text
          .row(style="margin-bottom: 2rem;")
            label(for="photo") Url á mynd:
            input.form-control#photo(type="text", name="photo")
          .row(style="margin-bottom: 2rem;")
            label(for="headline") Headline:
            input.form-control#headline(type="text", name="headline")
          .row(style="margin-bottom: 2rem;")
            label(for="content") Frétt:
            textarea.form-control#content(rows="10", name="content")
          .row
            button.btn.btn-primary(type="submit") Vista
